/* 
  ********************************************************************************

  Authors:

  ********************************************************************************
 */

/* header css */
.companyLogo {
  font-size: 100%;
  font-weight: 100%;
}
/* nav css */

.navLinksToTheRight {
  float: right;
  
  
}
@media screen and (max-width: 500px) {
  /* this removes the right hand positioning when it meets the @media screen condition */
  .navLinksToTheRight {
    float: none;
    
  }
}
