/* 
  ********************************************************************************

  Authors: Lawrence Reid

  ********************************************************************************
 */

.alignText {
  text-align: center;
  border: rgb(120, 19, 252);
  border-style: groove;
  border-radius: 0.5rem;
}

.accordionDropdown {
  background-color: rgb(0, 4, 230);
  color: rgb(153, 255, 139);
  cursor: pointer;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.1s;
  border-radius: 0.5rem;
}

.dropDownMenuActive,
.accordionDropdown:hover {
  background-color: rgb(120, 19, 252);
}

.accordionDropdown:after {
  color: rgb(13, 17, 224);
  float: right;
}

.dropDownPanel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 0.5rem;
  border-color: rgb(120, 19, 252);
  border-style: groove;
}
