/* 
  ********************************************************************************

  Author: Lawrence Darwin Reid

  ********************************************************************************
 */

body {
  background-color: #e8fffd;
  padding-left: 20px;
}

a {
  color: #0026ff;
  font-size: x-large;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}

p {
  font-size: x-large;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

ol {
  padding-top: 10px;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

/*                       custom classes below                            */

.quote {
  font-family: "DM Serif Text", serif;
  font-size: 200%;
  text-align: center;
  color: #2b6777;

  font-family: fantasy;
  border: #2b6777;

  padding-top: 200px;
}

@media screen and (max-width: 500px) {
  .quote {
    padding-top: 300px;
  }
}
