/* 
  ********************************************************************************

  Authors: Lawrence Reid

  ********************************************************************************
 */

.logo {
  height: 150px;
  width: 150px;
}

.officeMeditation{
  width: 100%;
  align-content: center;
}
