/* 
  ********************************************************************************

  Authors:

  ********************************************************************************
 */

.logo {
  height: 100px;
}

.officeMeditation{
  width: 100%;
  align-content: center;
}
