/* 
  ********************************************************************************

  Authors:

  ********************************************************************************
 */

/* this is the css for the index.html home page */
.missionStatement {
  font-size: larger;
}

.mainPageImages {
  width: 100%;
}

/* Float columns side by side */
.homeColumn {
  float: left;
  width: 30%;
  padding: 0 5px;
}


.homePageRow:after {
  content: "";
  display: table;
  clear: both;
}

/* CSS Made for adapting to smaller screen */
@media screen and (max-width: 600px) {
  .homeColumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.homeCard {
  box-shadow: 0px 3px 3px 0px #2b6777;
  padding: 16px;
  text-align: center;
 
}


