/* 
  ********************************************************************************

  Authors: Lawrence Reid, Bita Aslam

  ********************************************************************************
 */

.clock {
  text-align: center;
  font-size: 150%;
  border: rgb(120, 19, 252);
  border-style: double;
  border-radius: 0.5rem;
}

.timeManagmentFormApp {
  text-align: center;
  border: rgb(120, 19, 252);
  border-style: double;
  font-size: xx-large;
  border-radius: 2rem;
  padding: 10px;
}

.timeManagmentDescription {
  text-align: center;
  font-size: x-large;
}

.labelHeight {
  height: 1000px;
}
